:root {
    --white: #ffffff;
    --black: #000000;
    --bg: #111a2d;
    --text: #e5e7eb;
    --accent: #a622f7;
    --accent-2: #0ecaa8;
    --label-blue: #3b82f6;
    --label-blue-2: #0ea5e9;
    --max: 999999;
    --max-px: 999999px;
    --radius: 12px;
    --shadow: 0 5px 25px rgba(255, 255, 255, 0.3);
}

.animal-card {
    display: grid;
    border-radius: var(--border);
}

.animal-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    display: block;
    border-radius: var(--radius);
}