.animal-card {
    display: grid;
    border-radius: var(--border);
}

.animal-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    display: block;
    border-radius: var(--radius);
}