.hero {
    display: flex;
    flex-direction: row;
    gap: var(--gap-padding);
    margin: 0 5%;
    width: 90%;
    border-top: 1px var(--white) solid;
    padding-top: var(--gap-padding);
}

.hero-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.hero-main {
    position: relative;
    overflow: hidden;
    border-radius: var(--radius);
    width: 100%;
    height: 600px;
}

.hero-img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    animation: hero-slideshow 18s infinite;
}

.hero-main .hero-img:nth-child(1) {
    animation-delay: 0s;
}

.hero-main .hero-img:nth-child(2) {
    animation-delay: 3s;
}

.hero-main .hero-img:nth-child(3) {
    animation-delay: 6s;
}

.hero-main .hero-img:nth-child(4) {
    animation-delay: 9s;
}

.hero-main .hero-img:nth-child(5) {
    animation-delay: 12s;
}

.hero-main .hero-img:nth-child(6) {
    animation-delay: 15s;
}

@keyframes hero-slideshow {
    0% {
        opacity: 0;
    }

    5% {
        opacity: 1;
    }

    28% {
        opacity: 1;
    }

    33% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.home-sidebar {
    border: 2px solid black;
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    padding: var(--gap-padding);
}

.zoo-checklist {
    padding-inline-start: 30px;
}

.warning {
    background-color: #c3842b;
    text-align: center;
    color: var(--black);
    padding: 0;
    margin: 0;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
}

.warning p {
    padding: 0 var(--gap-padding);
}

.reviews {
    background-color: var(--off-white);
    border-radius: var(--radius);
    color: var(--black);
    display: flex;
    flex-direction: column;
    margin: var(--gap-padding) 5%;
    padding: 0 var(--gap-padding) var(--gap-padding);
}

.review-cards {
    display: flex;
    overflow-x: auto;
    flex-direction: row;
    gap: var(--gap-padding);
    border-radius: var(--radius);
}

.review-card {
    background-color: #4a6d6e;
    width: 275px;
    padding: var(--gap-padding);
    flex-shrink: 0;
    border-radius: var(--radius);
}

.review-stars {
    display: flex;
    flex-direction: row;
}

.review-star-img {
    width: 20px;
    height: 20px;
}