:root {
    --white: #ffffff;
    --black: #000000;
    --bg: #0f172a;
    --text: #e5e7eb;
    --accent: #a622f7;
    --accent-2: #0bf5ca;
    --radius: 12px;
    --shadow: 0 10px 25px rgba(0, 0, 0, .25);
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Helvetica Neue", Arial, system-ui;
    color: var(--text);
    background: var(--bg);
    line-height: 1.65;
}

h1 {
    line-height: 1.2;
    margin: 2.5rem 0 .5em;
    font-size: 2rem;
}

h2 {
    line-height: 1.2;
    margin: 2rem 0 .5em;
    font-size: 1.75rem;
}

h3 {
    line-height: 1.2;
    margin: 1.5rem 0 .5em;
    font-size: 1.5rem;
}

a {
    color: var(--accent);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
